.file{
    border-radius: 8px;
    background-color: transparent;

    height: 100px !important;

    transition: .1s linear;
}

.file:hover{
    background-color: rgba(0, 128, 0, 0.2);
    box-shadow: 5px 5px 5px gray;

    cursor: pointer;
}

.btn-icon-remove{
    border-radius: 8px;
    background-color: transparent;

    transition: .1s linear;
}

.btn-icon-remove:hover{
    background-color: rgba(255, 0, 0, 0.2);
    box-shadow: 5px 5px 5px gray;
}

.image{
    object-fit: cover;
    width: 60px;
}

strong{
    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}