.file{
    border-radius: 8px;
    background-color: transparent;

    transition: .1s linear;

    cursor: default;
}

.file:hover{
    background-color: rgba(0, 128, 0, 0.2);
    box-shadow: 5px 5px 5px gray;
}

.btn-icon-remove{
    border-radius: 8px;
    background-color: transparent;

    transition: .1s linear;
}

.btn-icon-remove:hover{
    background-color: rgba(255, 0, 0, 0.2);
    box-shadow: 5px 5px 5px gray;
}

.image{
    max-height: 100px;
}

strong{
    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

input[type="checkbox"] {
    position: relative;
    margin: 0;
    width: 16px;
    height: 16px;
    appearance: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;

    transform: scale(1.5);
    cursor: pointer;
}

input[type="checkbox"]:hover {
    background-color: rgba(0, 128, 0, .2);
}

input[type="checkbox"]:checked {
    background-color: rgba(0, 128, 0, .8);
}